html,
main,
.header-shelf-wrapper {
	background: #18191A;
}

/* move search text slightly higher */
.home .fluid .main-header .row.triptych.header-shelf .column.three {
    padding-top: 1rem;
}

.mega-menu-labels-wrapper > ul > li > a,
.search-label {
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	transition: color .3s ease;
}

.search-label:after {
	color: rgba(255, 255, 255, .25);
	font-weight: 400;
}

.mega-menu-labels-wrapper > ul > li > a:hover,
.mega-menu-labels-wrapper > ul > li > a:focus,
.search-label:hover,
.search-label:focus {
	color: #ff002a;
}

.main-feature-top {
	height: calc(100vh - 60px);
}

.card-deck {
	margin: 0 auto;
	max-width: 1400px;
}

.card {
	background: #111112;
	display: flex;
}

.card.reverse .one {
	order: 1;
}

.card .two {
	padding: 12em 8em;
}

.card-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.card-image.fixed {
	position: fixed;
	top: 0;
}

.card-image.absolute {
	bottom: 0;
	position: absolute;
}

blockquote {
	font-size: 1.2em;
	padding: 0;
}

@media screen and ( max-width: 989px ) {
	.card {
		display: block;
	}

	.fluid .row.halves.card .column {
		float: none;
		width: 100%;
	}

	.card-image {
		height: 40vh;
	}
}
