html,
main {
	background: #18191A;
}

.main-feature-top {
	height: calc(100vh - 61.59px);
}

.card-deck {
	margin: 0 auto;
	max-width: 1600px;
}

.card {
	background: #111112;
	display: flex;
}

.card.reverse .one {
	order: 1;
}

.card .two {
	padding: 12em 8em;
}

.card-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

blockquote {
	font-size: 1.2em;
	padding: 0;
}
