.accent-bar {
	border-top: solid 1px #7c1929;
	border-bottom: solid 1px #7c1929;
	background-color: #981e32;
	height: auto;
	padding: 1em;
	text-align: center;
}

.accent-bar p {
	color: #fff;
	font-size: 1em;
	padding: .75em;
}

.accent-bar .home-cta {
	margin-top: 0;
	max-width: 100%;
	color: #fff;
}

.accent-bar .home-cta a,
.accent-bar .home-cta a:focus,
.accent-bar .home-cta a:hover {
	color: #fff;
	box-shadow: none;
	padding: .5rem 2rem;
	border: 1px solid #fff;
	text-transform: uppercase;
	display: inline-block;
}

.accent-bar .home-cta a:focus,
.accent-bar .home-cta a:hover {
	color: #981e32;
}
