.edit-post-visual-editor .editor-default-block-appender,
.edit-post-visual-editor .editor-block-list__block {
	max-width: 100%;
}

/* --- Homepage news bar --- */
.feature-bar-news {
	background: rgba(0, 0, 0, .025);
	padding: 3rem 1rem;
}

.deck--hp-news,
.deck--hp-news * {
	box-sizing: border-box;
}

.deck--hp-news {
	border-left: 1px solid rgba(0, 0, 0, .1);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.card--news {
	border-right: 1px solid rgba(0, 0, 0, .1);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex: 1 calc(100% / 3);
	    flex: 1 calc(100% / 3);
	padding: 1rem 1.5rem .5rem;
	transition: background-color .3s ease;
}

.card--news:hover {
	background-color: rgba(0, 0, 0, .025);
}

.edit-post-visual-editor .card-category {
	color: #272727;
	font-size: .6rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: .65rem;
	padding-bottom: 0;
	text-transform: uppercase;
	-ms-flex-order: 1;
	    order: 1;
}

.card-image {
	display: none;
	margin-bottom: .75rem;
	width: 100%;
	-ms-flex-order: 2;
	    order: 2;
}

.editor-card,
.editor-card p {
	font-family: Proxima-Nova, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.editor-card .card-title {
	font-size: 1rem;
	line-height: 1;
	font-weight: 700;
	margin: 0 0 .75rem;
	-ms-flex-order: 3;
	    order: 3;
}

.card--has-image .card-title,
.editor-card .card--has-image .card-title {
	font-size: 1.25rem;
	line-height: 1.35;
	margin-bottom: .75rem;	
}

.editor-card .card-title a {
	color: #981e32;
	border: 0;
	padding: 0;
	box-shadow: none;
	transition: background .5s cubic-bezier(.33, .66, .66, 1);
	text-decoration: none;
}

.editor-card .card-title a:hover {
	background: none;
	border: 0;
	border-bottom: 1px solid;
	box-shadow: none;
	padding: 0;
}

.edit-post-visual-editor .card-excerpt {
	color: #5e6a71;
	font-size: .9rem;
	line-height: 1.2;
	margin-top: .25rem;
	-ms-flex-order: 4;
	    order: 4;
}

@supports (display: grid) {

	.deck--hp-news .editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: dense;
	}

	.card--news:nth-child(-n+2),
	.card--news:nth-child(n+5) {
		border-bottom: none;
	}

	.card--has-image {
		grid-row: span 2;
		grid-column: 4;
	}

	.card-image {
		display: block;
	}

	.card--has-image:first-of-type {
		grid-column: 3;
	}
}

/* - link to WSU News - */
.hp-news-link-wrap {
	padding: 2rem 2rem 1rem;
	text-align: right;
}
