.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}

ol,ul {
	list-style:none
}

/* Sliding panels */
.curtains>li {
    background:#FFF url(../img/blizzard.png);
}
    .curtains>li:last-child {
		box-shadow:none
		}

#section-home {
    background:url(../img/trees.jpg) 50% 0 no-repeat; 
    background-size:cover;
}

#section-collage {
    background:url(../img/crimson.jpg) 50% 0 no-repeat;
    background-size:cover;
}

/* Section 1 */
#section-end {
    background:url(../img/coughead.jpg) 50% 0 no-repeat;
    background-size:cover;
}

