.accent-bar {
	border-top: solid 1px #7c1929;
	border-bottom: solid 1px #7c1929;
	background-color: #981e32;
	height: auto;
	padding: 1em;
	text-align: center;
	max-width: 100% !important;
}

.accent-bar .column {
	padding: 0;
}

.accent-bar .column div {
	margin-top: 0;
	max-width: 100%;
	color: #fff;
}

.accent-bar .column a,
.accent-bar .column a:focus,
.accent-bar .column a:hover {
	color: #fff;
	box-shadow: none;
	padding: .5rem 2rem;
	border: 1px solid #fff;
	text-transform: uppercase;
	display: inline-block;
}

.accent-bar .column a:focus,
.accent-bar .column a:hover {
	color: #981e32;
}
