body {
	font-family: Proxima-Nova, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #2a3033;
}

/*---------------------------- wrappers ----------------------------*/
#jacket {
	border-top: 5px solid #981e32;
}

.error404 section,
.home section {
	margin: 0 auto;
}

.full {
	max-width: 100% !important;
}

.spacing-loose .gutter.full .column,
.spacing-loose .guttered.full,
.spacing-loose .single.gutter.full .column {
	padding: 0;
}

.wsu-home-alert {
	margin: 0;
	padding: 1em 0 2em;
	text-align: center;
	background: #f15d22;
	font-size: 1rem;
}

.wsu-home-alert h1 {
	font-size: 1.7em;
	margin: 0;
	padding: 10px 0 0;
	width: 100%;
	text-align: center;
	background: none;
}

.wsu-home-alert a {
	font-size: 1.5em;
	line-height: 1.6em;
	color: #efefef;
	text-decoration: underline;
}

.wsu-home-alert a:after {
	font-size: .75em;
	font-family: Spine-Icons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	margin-left: 6px;
	content: "\21AA";
}

.spine-mobile .wsu-home-alert {
	margin-top: 45px;
}

.spine-mobile .wsu-home-alert a {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #efefef;
}

/*---------------------------- header ----------------------------*/
.error404 .main-header,
.home .main-header {
	background: #fff;
	height: auto;
}

.error404 #spine,
.path-impact #spine,
.path-125 #spine,
.home #spine {
	display: none;
}

.error404 .fluid .row.triptych .column.two,
.home .fluid .row.triptych .column.two {
	width: 62.5%;
}

/* column three */
.error404 .home .fluid .main-header .row.triptych .column.three,
.home .fluid .main-header .row.triptych .column.three {
	width: 12.5%;
}

/*-------- WSU HOME FEATURE PIECES ------ */

@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.features-container .wsu-home-headline-wrapper,
.features-start .wsu-home-headline-wrapper {
	display: none;
}

.features-start .wsu-home-headline-wrapper:first-of-type {
	display: block;
}

.features-container .wsu-home-headline-wrapper-open {
	display: block;
	animation: fadeIn 1.5s;
}

.features-container .wsu-home-headline-wrapper .headline-has-background {
	min-height: 600px;
	background-size: cover;
	background-position: center right;
}

.fixedbg {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}

.error404 .wsu-error-content p {
	font-size: 1.5rem;
	font-weight: 300;
}

.error404 .wsu-error-content ul {
	padding-left: 0;
	margin-left: 0;
}

.error404 .wsu-error-content li {
	list-style-type: none;
	font-size: 1.1em;
	padding: 0;
	margin-left: 0;
	margin-bottom: .7em;
}

.error404 .wsu-error-content a {
	border-bottom: 0;
	box-shadow: none;
}

.error-404-text {
	color: #bbb;
	padding-left: .3em;
}

/* FOS / Recruitment section of home page */
.recruitment {
	padding-bottom: 4rem;
}

.recruitment h3 {
	margin-top: 4rem;
	color: #981e32;
	font-weight: 300;
}

.recruitment ul {
	margin-top: .5rem;
	padding: 0;
	font-size: 1rem;
}

.recruitment .column.one p {
	max-width: 550px;
}

.recruitment li {
	display: inline-block;
	margin-right: 1.5rem;
	padding: 0 0 .6rem;
	line-height: 1.4;
}

main .recruitment li a {
	color: inherit;
}

main .recruitment .button-row a {
	background: rgba(0, 0, 0, .65);
}

/* END FOS / Recruitment section of home page */
