html,
main,
.header-shelf-wrapper {
	background: #191919;
}

/* move search text slightly higher */
.home .fluid .main-header .row.triptych.header-shelf .column.three {
	padding-top: 1rem;
}

.mega-menu-labels-wrapper > ul > li > a,
.search-label {
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	transition: color .3s ease;
}

.search-label:after {
	color: rgba(255, 255, 255, .25);
	font-weight: 400;
}

.mega-menu-labels-wrapper > ul > li > a:hover,
.mega-menu-labels-wrapper > ul > li > a:focus,
.search-label:hover,
.search-label:focus {
	color: #ff002a;
}

/* Typography */
p {
	color: #d5d5d5;
	font-family: proxima-nova;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.65em;
	padding-bottom: 1.5em;
}

h2 {
	color: #fff;
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0;
}

h3,
h4 {
	color: #eb0424;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: 700;
	margin: 1em 0 .5em;
	line-height: 1em;
	letter-spacing: 3px;
}

h3 {
	margin-top: 0;
}

.content-card ul {
	border-bottom: solid 1px #333;
	color: #d5d5d5;
	font-size: .9em;
	font-weight: 300;
	margin: 3em 0;
	padding-bottom: 3em;
}

.content-card ul li {
	line-height: 1.5em;
	padding: 0 0 .5em;
}

/* Spirit mark pillar */

.content-card:before,
.hero:before {
	background: #981e32 url(../../assets/top-ten/spirit-mark.svg) no-repeat;
	background-size: 48px 45.92px;
	background-position: .5rem 2rem;
	content: "";
	height: 87px;
	position: absolute;
	top: 0;
	width: 4rem;
	z-index: 1;
}

/* Hero */
.hero {
	font-size: 1rem;
	height: calc(100vh - 60px);
	margin: 0;
	overflow: hidden;
	position: relative;
}

.hero:before {
	left: 0;
	margin: 0 auto;
	right: 0;
}

.hero section {
	height: 100vh;
	margin-top: -60px;
}

.fluid .hero .row .column {
	float: none;
	height: 100%;
	width: 100%;
}

.hero .hero--text {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1400px;
	text-align: center;
	z-index: 1;
}

.hero h1 {
	color: #fff;
	font-size: 5em;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.hero p {
	color: #fff;
	font-size: 1.2em;
	text-transform: none;
	max-width: 700px;
}

.hero .tt-hero-sub {
	border-bottom: solid 3px #ff002a;
	color: #d5d5d5;
	font-size: .9em;
	letter-spacing: 4px;
	margin-bottom: 4.5em;
	padding: .5em 0 1.5em;
	text-transform: uppercase;
	width: 50%;
}

.hero .hero--feature-image {
	background: center no-repeat;
	background-size: cover;
	left: 0;
	position: absolute;
	top: 0;
}

/* Card adjustments */
.row .impact-deck {
	float: none;
	margin: 0 auto;
	max-width: 1400px;
}

.impact-deck .content-card {
	background: #111112;
	min-height: 100vh;
	position: relative;
}

.impact-deck .content-card:before {
	left: 8em;
}

.impact-deck .content-card:nth-of-type(even):before {
	margin-left: 50%;
}

.impact-deck .content-card--feature-image,
.impact-deck .content-card--text {
	width: 50%;
}

.impact-deck article:nth-of-type(odd) .content-card--feature-image {
	order: 1;
}

.impact-deck .content-card--feature-image {
	overflow: hidden;
}

.impact-deck .content-card--feature-image-wrapper {
	background: top center no-repeat;
	background-size: cover;
	height: 100vh;
	max-width: none;
	text-indent: -100%;
	width: auto;
}

.impact-deck .content-card--feature-image-wrapper img {
	display: none;
}

.impact-deck .fixed .content-card--feature-image-wrapper {
	position: fixed;
	top: 0;
}

.impact-deck .absolute .content-card--feature-image-wrapper {
	bottom: 0;
	position: absolute;
}

.impact-deck .content-card--text {
	padding: 12em 8em;
}

.tt-details li {
	list-style: none;
	position: relative;
}

.tt-details li:before {
	background-repeat: no-repeat;
	background-position: center top;
	content: "";
	height: 100%;
	left: -2em;
	position: absolute;
	top: 0;
	width: 1em;
}

.tt-details .ico-college:before {
	background-image: url(../../assets/top-ten/li-icon-college.svg);
	background-size: .7em;
}

.tt-details .ico-major:before {
	background-image: url(../../assets/top-ten/li-icon-major.svg);
	background-position-y: 2px;
	background-size: 1em;
}

.tt-details .ico-home:before {
	background-image: url(../../assets/top-ten/li-icon-hometown.svg);
	background-size: .9em;
}

@media screen and ( max-width: 989px ) {

	#jacket #binder main {
		margin-top: 0;
	}

	.impact-deck .content-card:before {
		left: 4em;
	}

	.impact-deck .content-card:nth-of-type(even):before {
		margin-left: 0;
	}

	.impact-deck .content-card--feature-image,
	.impact-deck .content-card--text {
		width: 100%;
	}

	.impact-deck .content-card--feature-image-wrapper {
		height: 40vh;
		width: 100%;
	}

	.impact-deck .content-card--text {
		padding: 4em 4em 6em;
	}
}

@media screen and (max-width: 791px) {

	.hero .hero--text {
		padding-top: 87px;
	}

	.hero h1 {
		font-size: 4em;
	}

	.hero .tt-hero-sub {
		margin-bottom: 3em;
	}
}
